:root, body.dark-mode {
  --text-color: #C0C0C0;
  --accent-color: #499844;
  --icon-color: #F8FAFA;
  --bg-color: #0c0c0c;
}

body.light-mode {
  --text-color: #072a60;
  --accent-color: #ff4081;
  --icon-color: #072a60;
  --bg-color: #ffffff;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

/* Header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

nav {
  position: fixed;
  top: 1px;
  left: 0;
}

.nav-btn {
  background-color: transparent;
  border: none;
  color: var(--icon-color);
  font-size: 40px;
  cursor: pointer;
}

.nav-menu-option {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  top: 100%;
  left: 0;
  border: 1px solid var(--accent-color);
  padding: 10px;
  border-radius: 5px;
  width: 90px;
}

.nav-menu-option a {
  color: var(--text-color);
  padding: 0 5px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 3px;
}

.nav-menu-option a:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.show {
  display:block;
}

#header h1 {
  color: var(--accent-color);
  font-size: 60px;
  text-align: center;
  margin: 0;
  font-weight: 900;
  font-style: italic;
}

.subtitle {
  color: var(--text-color);
  font-size: 14px;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
}

#theme-mode {
  background: none;
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 1%;
  border: 1px solid var(--accent-color);
  width: 50px;
}

#theme-mode i {
  color: var(--icon-color);
  font-size: 40px;
}

body.light-mode .dark-icon {
  display: none;
}

body.dark-mode .light-icon {
  display: block;
}

body.dark-mode .light-icon {
  display: none;
}

.social-icons {
  float: right;
  position: absolute;
  top: 0;
  right: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}

.social-icons a {
  display: block;
  color: var(--icon-color);
  font-size: 35px;
  margin: 2px 5px;
  border: 1px solid var(--accent-color);
  padding: 10px;
}

/* Common section */

.section-head {
  color: var(--accent-color);
  font-size: 30px;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 700;
}

section {
  padding: 50px;
  color: var(--text-color);
  text-align: left;
}

/* about-me */

.about-me-content p {
  font-size: 16px;
  line-height: 1.6;
  width: 100%;
}

/* skills */

#section h4 {
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 5px;
}

.skills-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
} 

.skill-item {
  display: inline-block;
  margin: 10px;
  min-width: 70px;
  border: 3px solid var(--text-color);
  text-align: center;
  padding: 15px;
  vertical-align: top;
  border-radius: 25px;
}

.skill-item img {
  width: 40px;
  height: auto;
}

.skill-item h5 {
  margin: 4px 0 2px;
  color: var(--text-color);
  font-size: 14px;
}

/* projects */

.project-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 40%;
  height: auto;
  border: 3px solid var(--accent-color);
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.project-item h5 {
  font-size: 18px;
  color: var(--accent-color);
  margin-bottom: 5%;
  margin-top: 0;
  padding: 0;
  white-space: normal;
}

.project-desc {
  margin: 10px 0;
  overflow-wrap: break-word;

}

.project-desc p {
  font-size: 12px;
  color: var(--text-color);
  margin: 0;
  white-space: normal;
}

.project-links {
  display: block;
  margin: 10px 0;
}

.project-links a {
  text-decoration: none;
  color: var(--icon-color);
}

.project-item a {
  text-decoration: none;
  color: var(--icon-color);
  border: 1px solid var(--accent-color);
  padding: 2px;
}

.project-item-github i {
  font-size: 75px;
}

.project-item-github p {
  font-size: 10px;
}

.project-tech-stack {
  display: block;
  margin: 10px 0;
}

.project-tech-stack img {
  width: 15px;
  height: auto;
}

/* timeline */

.timeline-container {
  display: flex;
  flex-direction: column;
  border-left: 1px dotted var(--accent-color);
  padding-left: 5px;
}

.timeline-item {
  display: flex;
  flex-direction: row;
}

.timeline-date {
  width: 120px;
  border-top: 1px solid var(--accent-color);
  font-weight: lighter;
  color: var(--accent-color);
}

.timeline-desc {
  border: 1px solid var(--accent-color);
  padding: 10px;
  margin: 5px 0;
  border-radius: 15px;
  width: 60%;
}

.timeline-desc h4 {
  margin: 1px 1px;
  font-size: 1rem;
}

.timeline-desc p {
  margin: 2px 1px;
}

/* footer */

#footer {
  font-size: 10px;
  text-align: center;
}

/* adjust contents for different media */

@media screen and (max-width: 600px) {

  /* general section */

  section {
    padding: 20px;
  }

  .section-head {
    font-size: 20px;
  }

  /* header */

  #header {
    flex-direction: column;
    align-items: center;
  }

  .nav-btn {
    font-size: 27px;
  }

  #theme-mode {
    position: absolute;
    left: 35px;
    top: 2px;
    width: 35px;
  }

  #theme-mode i {
    font-size: 25px;
  }

  .subtitle {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .social-icons {
    position: static;
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
  }

  .social-icons a {
    font-size: 25px;
    margin: 0 5px;
  }

  /* about-me */

  .about-me-content p {
    font-size: 14px;
  }

  /* skills */

  #section h4 {
    font-size: 14px;
  }

  .skill-item {
    margin: 5px;
    min-width: 50px;
    padding: 10px;
  }

  .skill-item img {
    width: 25px;
    height: auto;
  }

  .skill-item h5 {
    font-size: 10px;
  }

  /* projects */

  .project-item {
    width: 50%;
    padding: 5px;
  }

  .project-item h5 {
    font-size: 14px;
  }

  .project-desc {
    margin: 5px 0;
  }

  .project-links {
    margin: 5px 0;
  }

  .project-item-github i {
    font-size: 40px;
  }

  .project-tech-stack {
    margin: 5px 0;
  }

  .project-tech-stack img {
    width: 15px;
    height: auto;
  }

  /* timeline */

  .timeline-date {
    font-size: 12px
  }

  .timeline-desc h4 {
    font-size: 14px;
  }

  .timeline-desc p {
    font-size: 10px;
  }
}