:root, body.dark-mode {
  --text-color: #C0C0C0;
  --accent-color: #499844;
  --icon-color: #F8FAFA;
  --bg-color: #0c0c0c;
}

body.light-mode {
  --text-color: #072a60;
  --accent-color: #ff4081;
  --icon-color: #072a60;
  --bg-color: #ffffff;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}

/* Header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

nav {
  position: fixed;
  top: 1%;
  left: 0;
}

.nav-btn {
  background-color: transparent;
  border: none;
  color: var(--icon-color);
  font-size: 40px;
  cursor: pointer;
}

.nav-menu-option {
  display: none;
  position: absolute;
  background-color: var(--bg-color);
  top: 100%;
  left: 0;
  border: 1px solid var(--accent-color);
  padding: 10px;
  border-radius: 5px;
  width: 90px;
}

.nav-menu-option a {
  color: var(--text-color);
  padding: 0 5px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 3px;
}

.nav-menu-option a:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.show {
  display:block;
}

#header h1 {
  color: var(--accent-color);
  font-size: 60px;
  text-align: center;
  margin: 0;
  font-weight: 900;
  font-style: italic;
}

.subtitle {
  color: var(--text-color);
  font-size: 14px;
}

#theme-mode {
  background: none;
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 1%;
  border: 1px solid var(--accent-color);
  width: 50px;
}

#theme-mode i {
  color: var(--icon-color);
  font-size: 40px;
}

body.light-mode .dark-icon {
  display: none;
}

body.dark-mode .light-icon {
  display: block;
}

body.dark-mode .light-icon {
  display: none;
}

.social-icons {
  float: right;
  position: absolute;
  top: 0;
  right: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-icons a {
  display: block;
  color: var(--icon-color);
  font-size: 35px;
  margin: 2px 5px;
  border: 1px solid var(--accent-color);
  padding: 10px;
}

/* Common section */

.section-head {
  color: var(--accent-color);
  font-size: 30px;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 700;
}

section {
  padding: 50px;
  color: var(--text-color);
  text-align: left;
}

/* about-me */

.about-me-content p {
  font-size: 16px;
  line-height: 1.6;
  width: 100%;
}

/* skills */

#section h4 {
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 5px;
}

.skills-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
} 

.skill-item {
  display: inline-block;
  margin: 10px;
  min-width: 70px;
  border: 3px solid var(--accent-color);
  text-align: center;
  padding: 15px;
  vertical-align: top;
  border-radius: 25px;
  background-color: var(--icon-color);
}

.skill-item img {
  width: 40px;
  height: auto;
}

.skill-item h5 {
  margin: 4px 0 2px;
  color: var(--text-color);
  font-size: 14px;
}

/* projects */

.project-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.project-item {
  display: inline-block;
  margin: 10px;
  width: 35%;
  height: max-content;
  border: 3px solid var(--accent-color);
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  text-wrap: wrap;
}

.project-item h5 {
  font-size: 18px;
  color: var(--accent-color);
  margin-bottom: 5%;
}

.project-desc {
  margin: 0;
}

.project-desc p {
  font-size: 12px;
  color: var(--text-color);
  text-wrap: break-word;
}

.project-item a {
  text-decoration: none;
  color: var(--icon-color);
  border: 1px solid var(--accent-color);
  padding: 2px;
}

.project-item-github i {
  font-size: 75px;
}

.project-item-github p {
  font-size: 10px;
}

.project-tech-stack {
  display: block;
}

.project-tech-stack img {
  width: 15px;
  height: auto;
}

/* timeline */

.timeline-container {
  position: relative;
  padding: 20px 0;
  max-width: 800px;
  margin: 0 auto;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--bg-color);
  top:0;
  bottom: 0;
  left: 58%;
  margin-left: -3px;
}

.timeline-item { 
  display: flex; 
  justify-content: flex-start;
  align-items: center; 
  padding: 10px 40px;
  position: relative;
  background-color: inherit; 
  width: 100%;
}

.timeline-item::after {
  content: ''; 
  position: absolute; 
  top: 15px; 
  width: 25px;
  height: 25px;
  right: -17px; 
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  z-index: 1;
}

.timeline-date {
  flex: 1;
  text-align: right;
  font-size: 12px;
  font-weight: lighter;
  color: var(--text-color);
  padding-right: 20px;
}

.timeline-desc {
  flex: 3; 
  background: transparent; 
  padding: 20px; 
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-desc h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.timeline-desc p {
  font-size: 12px;
  color: var(--text-color);
  margin: 5px 0 0;
}

/* footer */

#footer {
  font-size: 10px;
  text-align: center;
}