/* custom values */
:root {
    --light-color: #fdf6e3;
    --dark-color: #0c0725
    ;
}

/* General elements */

body {
    transition: all 0.3s ease;
    background-color: var(--light-color);
}

/* light and dark themes setup */

.light-theme {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.dark-theme {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* toggle switch*/
.toggle-switch {
    position: relative;
    display: inline-block;
}

.toggle-switch img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    top: 20px;
    right: 20px;
    position: fixed;
}

/* switch between the light and dark mode */
.toggle-switch img#light-mode {
    opacity: 1;
}

.toggle-switch img#dark-mode {
    opacity: 0;
}

.toggle-switch.active img#dark-mode {
    opacity: 1;
}

.toggle-switch.active img#light-mode {
    opacity: 0;
}